<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head_fragment(title='My Dictionary - Create Account')">

</head>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
</head>

<body>
<section class="vh-100" style="background-color: #508bfc;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-10 col-md-8 col-lg-6 col-xl-4">
			 	<div class="card shadow-2-strong" style="border-radius: 1rem;">
         			<div class="card-body p-5">
			
						<h3 class="mb-5 text-center">Create Account</h3>
						
							<form action="#" th:action="@{/user/registerUser}"
											 th:object="${user}" method="POST">	
									
								<div class="mb-4">
									<div class="form-outline">			 
										<input type="text" th:field="*{username}" maxlength="20"
												class="form-control mb-0"
												th:classappend="${(userNameErrorList != null && userNameErrorList.size != 0) ? 'is-invalid':''}">
										<label for="username" class="form-label">User Name</label>
									</div>
									<th:block th:each="errorMessage : ${userNameErrorList}">
										<p th:text="${errorMessage}" class="text-danger mt-0 mb-0"></p>
									</th:block>	
								</div>
								
								<div class="mb-4">
									<div class="form-outline">
										<input type="password" th:field="*{password}" maxlength="12"
												class="form-control mb-0"
												th:classappend="${(passwordErrorList != null && passwordErrorList.size != 0) ? 'is-invalid':''}">
										<label for="password" class="form-label">Password</label>
									</div>
									<th:block th:each="errorMessage : ${passwordErrorList}">
										<p th:text="${errorMessage}" class="text-danger mt-0 mb-0"></p>
									</th:block>	
								</div>
									
								<div class="mb-4">
									<div class="form-outline">
										<input type="email" th:field="*{email}"
												class="form-control mb-0"
												th:classappend="${(eMailErrorList != null && eMailErrorList.size != 0) ? 'is-invalid':''}">
										<label for="email" class="form-label">E-Mail</label>
									</div>
									<th:block th:each="errorMessage : ${eMailErrorList}">
										<p th:text="${errorMessage}" class="text-danger mt-0 mb-0"></p>
									</th:block>	
								</div>
								
								<div class="mb-4">
									<select class="form-select myselect mb-0" aria-label="Default select example" th:field="*{timeZone}"
											th:classappend="${(timezoneErrorList != null && timezoneErrorList.size != 0) ? 'is-invalid':''}">
									  <option value="">Choose your timezone</option>
									  <option th:each="element : ${user.getAllZoneIdsAndItsOffSet()}" th:value="${element.key}">[[${element.key}]] [[${element.value}]]</option>
									 </select>

									<th:block th:each="errorMessage : ${timezoneErrorList}">
										<p th:text="${errorMessage}" class="text-danger mt-0 mb-0"></p>
									</th:block>							
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-warning">Register</button>
								</div>
							</form>					
							<hr class="my-4">
							<div class="text-center">	
								<a th:href="@{/user/showLoginPage}" class="btn btn-link text-center">Login Page</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
	
<script type="text/javascript">
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
  	  new mdb.Input(formOutline).init();
  	});
    $(function() {
     		$(".myselect").select2();
    });
</script>
</body>

</html>