<header xmlns:th="http://www.thymeleaf.org" class="pb-5" th:fragment="header_fragment(pageName)">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	  <div class="container-fluid">
	    
	    <button
	      class="navbar-toggler"
	      type="button"
	      data-mdb-toggle="collapse"
	      data-mdb-target="#navbarSupportedContent"
	      aria-controls="navbarSupportedContent"
	      aria-expanded="false"
	      aria-label="Toggle navigation"
	    >
	      <i class="fas fa-bars"></i>
	    </button>
	    
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<a class="navbar-brand h1" href="#">My Dictionary</a>
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	        	<a class="nav-link" th:href="@{/word/showSearchWordForm}"
	          	th:classappend="${(pageName == 'searchWord') ? 'disabled':'active'}">Search Word</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/word/list(pageNumber=0, sortAttribute=dateTime, descending=true)}"
	          	th:classappend="${(pageName == 'wordList') ? 'disabled':'active'}">Word List</a>
	        </li>
	        </ul>
	    </div>
	    <div class="d-flex align-items-center">
	      	<form action="#" th:action="@{/logout}" method="POST">
				<button class="btn btn-outline-secondary" type="submit">Logout</button>
	       	</form>
	    </div>
	  </div>
	</nav>
</header>